Analysis/Model Output/*
!Analysis/Model Output/.gitkeep
**/.DS_Store
Analysis/Heterogeneity Estimates/*
Analysis/Visuals Output/**
Analysis/Model Code/*.rds
.Rproj.user
Analysis/Cohort Analysis/Model Inputs/*
Analysis/Cohort Analysis/Model Outputs/*
Analysis/Cohort Analysis/Output Visuals/**
.Rhistory
**/Checker/**
